{% extends 'base.html' %}


{% block title %}
CREAR EMPLEADO
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">REGISTRO DE EMPLEADO</h1>
        <form class="cell" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="cell medium-6">
                <label>
                    Nombres: {{form.first_name}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Apellidos: {{form.last_name}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Trabajo: {{form.job}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Departamento: {{form.departamento}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Habilidades: {{form.habilidades}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Foto: {{form.avatar}}
                </label>
            </div>
            <div class="cell medium-6">
                <button type="submit" class="button success">GUARDAR</button>
            </div>

        </form>
    </div>
</div>

{% endblock content %}