{% extends 'base.html' %}

{% block title %}
EMPLEADOS
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">LISTA DE EMPLEADOS</h1>
        <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}
            <div class="cell large-7">
                <input type="text" id="KeyWord" name="KeyWord" placeholder="Nombre del empleado">
            </div>
            <div class="cell large-2">
                <button type="submit" class="success button">Buscar</button>
            </div>
        </form>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>Nombres</th>
                        <th width="150">Apellidos</th>
                        <th width="150">Departamento</th>
                        <th width="150">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in lista %}
                    <tr>
                        <td>{{empleado.id}}</td>
                        <td>{{empleado.first_name}}</td>
                        <td>{{empleado.last_name}}</td>
                        <td>{{empleado.departamento}}</td>
                        <td><a class="button primary" href="{% url 'persona_app:detallar-empleado' empleado.id %}">
                                VER DATOS</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="cell">

            {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination">


                    {% if page_obj.has_previous %}
                    <li class="pagination-previous">
                        <a href="?page={{page_obj.previous_page_number}}">
                            Atrás
                        </a>
                    </li>
                    {% endif %}


                    {% for pagina in paginator.page_range %}

                    {% ifequal pagina page_obj.number  %}
                    <li class="current"><span class="show-for-sr">You're on page</span>{{pagina}}</li>

                    {% else %}
                    <li><a href="?page={{pagina}}">{{ pagina}}</a></li>

                    {% endifequal %}

                    {% endfor %}


                    {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="?page={{page_obj.next_page_number}}">
                            Adelante
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}


        </div>

    </div>
</div>

{% endblock content %}