{% extends 'base.html' %}


{% block title %}
CREAR DEPARTAMENTO
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">REGISTRO DE DEPARTAMENTO</h1>
        <form class="cell callout grid-x grid-margin-x" method="POST"> {% csrf_token %}
            <div class="cell medium-6">
                <label>
                    Nombres: {{form.nombre}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Apellidos: {{form.apellidos}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Departamento: {{form.departamento}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>
                    Nombre corto: {{form.shorname}}
                </label>
            </div>
            <div class="cell medium-6">
                <button type="submit" class="button success">GUARDAR</button>
            </div>

        </form>
    </div>
</div>

{% endblock content %}